  <div class="footer">
      <h2>При поддержке:</h2>
    <a href="http://www.nsu.ru/" target="_blank"><img src="/assets/images/sponsors/logo_nsu.png" title="Новосибирский Государственный Университет" class="footer__logo logo-1"></a>  
    <a href="http://mmf.nsu.ru/" target="_blank"><img src="/assets/images/sponsors/mmf.png" title="Механико-математический факультет НГУ" class="footer__logo logo-1"></a>
  </div>

  <script>(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter20980012 = new Ya.Metrika({id:20980012,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });
    
    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";
    
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
