    <div class="share">
        <div class="share__inner">
            <h2>Поделиться:</h2>
            <script src="//yandex.st/share/share.js"></script>
            <span class="share__buttons yashare-auto-init"
                data-yasharedescription="{{ page.description | escape }}"
                data-yashareimage="http://kontrsumma.ru/assets/images/header/frame-1.jpg"
                data-yasharel10n="ru"
                data-yasharequickservices="vkontakte,facebook,twitter,gplus"
                data-yasharetitle="{{ page.title | escape }}"
                data-yasharetype="none">
            </span>
        </div>
    </div>